In [9]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/julianassmann/Documents/Bachelor-Thesis/Code/datasets/ent_tem/temp.standardized.tsv', delimiter='\t')
df

,!amt_annotation_ids,!amt_worker_ids,orig_id,response,gold
0,1Z0ZWAY8NYBZJWY7FX302YKE055D9GPWYZ0PBZ40,A2HTGQE4AACVRV,42_0,1,1
1,1Z0ZWAY8NYBZJWY7FX30PRAZNZYKT9ZZ7KC9Z3AZ,AYHHOK9GDSWNH,42_0,1,1
2,1Z0ZWAY8NYBZJWY7FX30G0PZ28ZQ106ZGBYHSY8Z,A1QRQZWBL1SVEX,42_0,1,1
3,1Z0ZWAY8NYBZJWY7FX30BY0PNWYK0S2ZSADRYXP0,A3G0MGLBT484I1,42_0,1,1
4,1Z0ZWAY8NYBZJWY7FX30HHZZVJ45HJC2T1ZWTZ20,A7NC1H5ZK7TO0,42_0,1,1
...,...,...,...,...,...
4615,BW9ZRRHWAW4ZRW9QXRB060WZKEZ2V3DZX3YXAY70,A3MPXWFMR0Y2LK,1_1,1,1
4616,BW9ZRRHWAW4ZRW9QXRB0SY5ZZKGQV1PEMZ43TW6Z,A32IZC32FQKVRX,1_1,1,1
4617,BW9ZRRHWAW4ZRW9QXRB0QTRZWTHSQY3P095Q4X10,A3PIXX8DQGYHGI,1_1,2,1
4618,BW9ZRRHWAW4ZRW9QXRB0XWWY5MYE5WFZYJZ8CZRZ,A11GX90QFWDLMM,1_1,2,1
4619,BW9ZRRHWAW4ZRW9QXRB0GWQ4T1S2FVHZ18Y4EW90,A18941IO2ZZWW6,1_1,2,1

In [3]:
df.rename(columns={'!amt_annotation_ids': 'worker', 'orig_id': 'sample', 'gold': 'truth', 'response': 'answer'}, inplace=True)
df.drop(columns=['!amt_worker_ids'], inplace=True)
worker_names_to_int_map = {w: i for (i, w) in enumerate(df['worker'].unique())}
df = df.replace({'worker': worker_names_to_int_map})

In [22]:
sample = '84_1'
sample_df = df[df['sample'] == sample]
sample_df

     worker sample  answer  truth
370     100   84_1       2      2
371     101   84_1       1      2
372     102   84_1       2      2
373     103   84_1       1      2
374     104   84_1       1      2
375     105   84_1       1      2
376     106   84_1       2      2
377     107   84_1       2      2
378     108   84_1       2      2
379     109   84_1       2      2

In [25]:
sample_df['answer'].value_counts().index[0]

2